.button:hover {
  opacity: 1;
}

.button {
  width: 44px;
  height: 44px;
  margin: 6px;
  border-width: 14px;
  border-radius: 50%;
  opacity: 0.85;
  cursor: pointer;
  display: flex;
}


.ColorPicker {
  justify-content: space-around;
  align-self: center;
}