.App {
  display: flex;
  flex-direction: column;
  color: gray;
}

.App-header {
  height: 50px;
  padding: 10px;
  color: gray;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 10px 0px;
}

footer {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

.App-RightSide {
  display: flex;
  flex-flow: column;
  margin-left: 5vw;
  align-items: center;
}